* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="file"] {
  border-bottom: solid 1px #666;
}

section.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.header > div {
  margin: 10px 0;
}

section.categories {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

section.categories > div {
  margin: 10px 10px 0 10px;
  padding: 10px;
  cursor: pointer;
}

section.categories > div.active {
  background-color: #fff;
  border-top: solid 2px #333;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin:0 40px;
}

tr {
  border-bottom: 1px solid #f2f2f2;
}

thead > tr > th {
  font-weight: bold;
  font-size: 1.2em;
  color: #333;
  line-height: 1.4;
  text-transform: uppercase;
  padding: 21px 0;
}

th {
  text-align: left;
}

tbody > tr > td {
  color: #666;
  line-height: 1.4;
  padding: 7px;
}

.message {
  width: 50%;
}

.help {
  color: #555;
  width: 600px;
  border: solid 1px hsl(287, 100%, 50%);
  margin: auto;
  border-radius: 10px;
  margin-top: 40px;
  padding: 30px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.help h2 {
  margin-bottom: 10px;
}

.help p {
  margin-bottom: 30px;
  line-height: 1.4em;
}

.help ol { 
  margin-left: 20px;
}

.help .emphasize {
  font-weight: bold;
  color: hsl(287, 100%, 50%);
}

.help ol > li {
  margin-bottom: 10px;
}

.code {
  background: #333;
  font-family: monospace;
  color: white;
  padding: 5px;
  margin-top: 5px;
}

